.todocrud-app {
  position: relative;
  width: 100%;
  height: 100vh;
}

.todocrud-app--input {
  width: 640px;
  padding: 15px;
  margin: 0 auto;
}

.todocrud-app--tasks-list {
  width: 640px;
  margin: 0 auto;
}

.lang-select {
  position: absolute;
  top: 10px;
  right: 10px;
}
